<h1>Detalles Ventas!</h1>
<h5><%= notice %></h5>
<table>
  <tr>
    <th>COD</th>
    <th>Detalles</th>
    <th>Valor</th>
    <th>Descuento</th>
    <th>tax</th>
    <th>Total</th>
  </tr>
  <% @sale.each do |sale| %>
  <tr>
    <td><%= sale.cod %></td>
    <td><%= sale.detail %></td>
    <td><%= sale.value %></td>
    <td><%= sale.discount %></td>
    <td><%= sale.tax %></td>
    <td><%= sale.total %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Crear otro codigo venta', root_path %>
